{{#posts}}
<div class="post">
    <h2><a href="{{{url}}}/{{{config.posts_dir}}}/{{{post.link}}}">{{post.title}}</a></h2>
    <div class="meta">{{#format_date}}{{post.time}}{{/format_date}}</div>
</div>
{{/posts}}
